{
  "openapi": "3.0.3",
  "info": {
    "title": "SolanaFM API Overview",
    "description": "A list of API endpoints that are exposed to the public",
    "contact": {
      "name": "Elvis Yong"
    },
    "license": {
      "name": "MIT"
    },
    "version": "0.2.9"
  },
  "servers": [
    {
      "url": "https://api.solana.fm"
    }
  ],
  "paths": {
    "/v0/accounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get tagged accounts",
        "description": "Get tagged accounts\n<h3>The endpoint supports batch retrieval of accounts with the ability to customise the query</h3>",
        "operationId": "get_multiple_accounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountHashes"
                ],
                "properties": {
                  "accountHashes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The account/wallet hashes to query for",
                    "example": [
                      "Cs23cJMRuahuKh5oNhVmLhM2UrtaZLULLF3HqrxfTnHc",
                      "A6TDkkwU1BS6Ywe5xcaWsZjuYci8YzzqXA6363khgoP5"
                    ]
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Specify the field objects to be returned in the result\nAvailable array fields: `data`, `onchain`, `*`",
                    "example": [
                      "onchain"
                    ],
                    "nullable": true
                  }
                }
              },
              "example": [
                "Cs23cJMRuahuKh5oNhVmLhM2UrtaZLULLF3HqrxfTnHc",
                "A6TDkkwU1BS6Ywe5xcaWsZjuYci8YzzqXA6363khgoP5"
              ]
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns an array of account information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "accountHash"
                    ],
                    "properties": {
                      "accountHash": {
                        "type": "string",
                        "description": "The pubkey of the account returned"
                      },
                      "data": {
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "friendlyName",
                              "abbreviation",
                              "category",
                              "network",
                              "tags"
                            ],
                            "properties": {
                              "abbreviation": {
                                "type": "string",
                                "description": "Account abbreviation (e.g. USDC)"
                              },
                              "category": {
                                "type": "string",
                                "description": "Category of the Account (e.g. Tokens)"
                              },
                              "flag": {
                                "type": "string",
                                "description": "SolanaFM flagged accounts (e.g. scammer, hacker)",
                                "nullable": true
                              },
                              "friendlyName": {
                                "type": "string",
                                "description": "SolanaFM labelled name / on-chain indexed name (e.g. USD Coin)"
                              },
                              "logoURI": {
                                "type": "string",
                                "description": "Image url for the account",
                                "nullable": true
                              },
                              "network": {
                                "type": "string",
                                "description": "(e.g. mainnet/devnet)"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "SolanaFM labelled tags"
                              },
                              "voteKey": {
                                "type": "string",
                                "description": "Vote key only exists for validator accounts",
                                "nullable": true
                              }
                            }
                          }
                        ],
                        "nullable": true
                      },
                      "onchain": {
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "lamports",
                              "data",
                              "owner",
                              "executable",
                              "rentEpoch"
                            ],
                            "properties": {
                              "data": {
                                "oneOf": [
                                  {
                                    "type": "string",
                                    "format": "binary"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "info",
                                      "account_type"
                                    ],
                                    "properties": {
                                      "account_type": {
                                        "type": "string"
                                      },
                                      "info": {}
                                    }
                                  }
                                ]
                              },
                              "executable": {
                                "type": "boolean",
                                "description": "Indicates whether the account is an executable account or not"
                              },
                              "lamports": {
                                "type": "integer",
                                "format": "int64",
                                "description": "Amount of lamports in the account",
                                "minimum": 0
                              },
                              "owner": {
                                "type": "string",
                                "description": "Owner of the account"
                              },
                              "rentEpoch": {
                                "type": "integer",
                                "format": "int64",
                                "description": "Rent epoch of the account",
                                "minimum": 0
                              }
                            }
                          }
                        ],
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v0/accounts/{hash}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a specific tagged account",
        "description": "Get a specific tagged account\n<h3>This endpoint returns you the account data related to the account that you queried for given the account hash</h3>",
        "operationId": "get_account",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "The account/wallet hash to query for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AK2VbkdYLHSiJKS6AGUfNZYNaejABkV6VYDX1Vrgxfo"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accountHash",
                    "data"
                  ],
                  "properties": {
                    "accountHash": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "friendlyName",
                        "abbreviation",
                        "category",
                        "network",
                        "tags"
                      ],
                      "properties": {
                        "abbreviation": {
                          "type": "string",
                          "description": "Account abbreviation (e.g. USDC)"
                        },
                        "category": {
                          "type": "string",
                          "description": "Category of the Account (e.g. Tokens)"
                        },
                        "flag": {
                          "type": "string",
                          "description": "SolanaFM flagged accounts (e.g. scammer, hacker)",
                          "nullable": true
                        },
                        "friendlyName": {
                          "type": "string",
                          "description": "SolanaFM labelled name / on-chain indexed name (e.g. USD Coin)"
                        },
                        "logoURI": {
                          "type": "string",
                          "description": "Image url for the account",
                          "nullable": true
                        },
                        "network": {
                          "type": "string",
                          "description": "(e.g. mainnet/devnet)"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "SolanaFM labelled tags"
                        },
                        "voteKey": {
                          "type": "string",
                          "description": "Vote key only exists for validator accounts",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Account Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v0/accounts/{hash}/fees": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Account's Transaction Fees",
        "description": "Account's Transaction Fees\n<h3>This endpoint returns you transactions fees accrued by account on a daily basis</h3>",
        "operationId": "get_account_tx_fees",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "The account/wallet hash to query for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AK2VbkdYLHSiJKS6AGUfNZYNaejABkV6VYDX1Vrgxfo"
          },
          {
            "name": "from",
            "in": "query",
            "description": "The start date to query for",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "2024-01-01"
          },
          {
            "name": "to",
            "in": "query",
            "description": "The end date to query for",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "2024-02-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved account transaction fees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "tx_fees",
                      "time"
                    ],
                    "properties": {
                      "time": {
                        "type": "string"
                      },
                      "tx_fees": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Transaction Fees accrued for the day"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v0/blocks": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get Blocks",
        "description": "Get Blocks\n<h3>This endpoint returns you a paginated list of blocks</h3>",
        "operationId": "get_blocks_by_pagination",
        "parameters": [
          {
            "name": "params",
            "in": "query",
            "description": "Input the optional query parameters",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "Cursor to the next/previous page.\nWhen not provided, latest blocks will be returned",
                      "nullable": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Defines the number of blocks returned in a page.\nDefaults to 50 when not provided",
                      "nullable": true,
                      "minimum": 0
                    },
                    "paginationType": {
                      "type": "string",
                      "description": "Sets the pagination type (either `blockNumber` or `blockTime`)",
                      "nullable": true
                    },
                    "reverse": {
                      "type": "boolean",
                      "description": "Only accepts (True/False).\nIndicates the pagination order of the block.\nIf set true, returns an ascending order from older blocks to newer blocks.\nIf set false, returns a descending order from newer blocks to older blocks.",
                      "nullable": true
                    }
                  }
                }
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved blocks by pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "pagination"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "blockNumber",
                          "data"
                        ],
                        "properties": {
                          "blockNumber": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The block number retrieved",
                            "minimum": 0
                          },
                          "data": {
                            "type": "object",
                            "required": [
                              "epoch",
                              "previousHash",
                              "producer",
                              "hash",
                              "parentNumber",
                              "number",
                              "dataSize",
                              "numberOfTransactions",
                              "successfulTransactions",
                              "voteTransactions",
                              "totalTxFees",
                              "numberOfRewards",
                              "totalRewardAmount",
                              "totalComputeUnitsConsumed",
                              "totalComputeUnitsLimit",
                              "blockTime"
                            ],
                            "properties": {
                              "blockTime": {
                                "type": "integer",
                                "format": "int64",
                                "description": "The time that this block is produced",
                                "minimum": 0
                              },
                              "dataSize": {
                                "type": "integer",
                                "format": "int64",
                                "description": "The data size of this block",
                                "minimum": 0
                              },
                              "epoch": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The epoch that this block belongs to",
                                "minimum": 0
                              },
                              "hash": {
                                "type": "string",
                                "description": "The block hash"
                              },
                              "number": {
                                "type": "integer",
                                "format": "int64",
                                "description": "The block number",
                                "minimum": 0
                              },
                              "numberOfRewards": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of rewards being issued",
                                "minimum": 0
                              },
                              "numberOfTransactions": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of transactions produced in this block",
                                "minimum": 0
                              },
                              "parentNumber": {
                                "type": "integer",
                                "format": "int64",
                                "description": "The parent's block number",
                                "minimum": 0
                              },
                              "previousHash": {
                                "type": "string",
                                "description": "The previous block's block hash"
                              },
                              "producer": {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "required": [
                                      "String"
                                    ],
                                    "properties": {
                                      "String": {
                                        "type": "string",
                                        "description": "The block producer account hash"
                                      }
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "Account"
                                    ],
                                    "properties": {
                                      "Account": {
                                        "type": "object",
                                        "required": [
                                          "accountHash"
                                        ],
                                        "properties": {
                                          "accountHash": {
                                            "type": "string",
                                            "description": "The pubkey of the account returned"
                                          },
                                          "data": {
                                            "allOf": [
                                              {
                                                "type": "object",
                                                "required": [
                                                  "friendlyName",
                                                  "abbreviation",
                                                  "category",
                                                  "network",
                                                  "tags"
                                                ],
                                                "properties": {
                                                  "abbreviation": {
                                                    "type": "string",
                                                    "description": "Account abbreviation (e.g. USDC)"
                                                  },
                                                  "category": {
                                                    "type": "string",
                                                    "description": "Category of the Account (e.g. Tokens)"
                                                  },
                                                  "flag": {
                                                    "type": "string",
                                                    "description": "SolanaFM flagged accounts (e.g. scammer, hacker)",
                                                    "nullable": true
                                                  },
                                                  "friendlyName": {
                                                    "type": "string",
                                                    "description": "SolanaFM labelled name / on-chain indexed name (e.g. USD Coin)"
                                                  },
                                                  "logoURI": {
                                                    "type": "string",
                                                    "description": "Image url for the account",
                                                    "nullable": true
                                                  },
                                                  "network": {
                                                    "type": "string",
                                                    "description": "(e.g. mainnet/devnet)"
                                                  },
                                                  "tags": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "string"
                                                    },
                                                    "description": "SolanaFM labelled tags"
                                                  },
                                                  "voteKey": {
                                                    "type": "string",
                                                    "description": "Vote key only exists for validator accounts",
                                                    "nullable": true
                                                  }
                                                }
                                              }
                                            ],
                                            "nullable": true
                                          },
                                          "onchain": {
                                            "allOf": [
                                              {
                                                "type": "object",
                                                "required": [
                                                  "lamports",
                                                  "data",
                                                  "owner",
                                                  "executable",
                                                  "rentEpoch"
                                                ],
                                                "properties": {
                                                  "data": {
                                                    "oneOf": [
                                                      {
                                                        "type": "string",
                                                        "format": "binary"
                                                      },
                                                      {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      {
                                                        "type": "object",
                                                        "required": [
                                                          "info",
                                                          "account_type"
                                                        ],
                                                        "properties": {
                                                          "account_type": {
                                                            "type": "string"
                                                          },
                                                          "info": {}
                                                        }
                                                      }
                                                    ]
                                                  },
                                                  "executable": {
                                                    "type": "boolean",
                                                    "description": "Indicates whether the account is an executable account or not"
                                                  },
                                                  "lamports": {
                                                    "type": "integer",
                                                    "format": "int64",
                                                    "description": "Amount of lamports in the account",
                                                    "minimum": 0
                                                  },
                                                  "owner": {
                                                    "type": "string",
                                                    "description": "Owner of the account"
                                                  },
                                                  "rentEpoch": {
                                                    "type": "integer",
                                                    "format": "int64",
                                                    "description": "Rent epoch of the account",
                                                    "minimum": 0
                                                  }
                                                }
                                              }
                                            ],
                                            "nullable": true
                                          }
                                        }
                                      }
                                    }
                                  }
                                ]
                              },
                              "successfulTransactions": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of successful transactions in this block",
                                "minimum": 0
                              },
                              "totalComputeUnitsConsumed": {
                                "type": "integer",
                                "format": "int64",
                                "description": "The total compute units consumed producing this block",
                                "minimum": 0
                              },
                              "totalComputeUnitsLimit": {
                                "type": "integer",
                                "format": "int64",
                                "description": "The total compute limits indicated for this block",
                                "minimum": 0
                              },
                              "totalRewardAmount": {
                                "type": "integer",
                                "format": "int64",
                                "description": "The total reward amount",
                                "minimum": 0
                              },
                              "totalTxFees": {
                                "type": "integer",
                                "format": "int64",
                                "description": "The total transaction fees collected in the block",
                                "minimum": 0
                              },
                              "voteTransactions": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of vote transactions in this blocl",
                                "minimum": 0
                              }
                            }
                          }
                        }
                      },
                      "description": "A list of block data to be returned"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The next cursor pointer",
                          "nullable": true,
                          "minimum": 0
                        },
                        "previous": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The previous cursor pointer",
                          "nullable": true,
                          "minimum": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get Multiple Blocks",
        "description": "Get Multiple Blocks\n<h3>This endpoint returns you a list of blocks based on the input block numbers with the ability to customise the query</h3>",
        "operationId": "get_multiple_blocks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "blockNumbers"
                ],
                "properties": {
                  "blockNumbers": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 0
                    },
                    "description": "A list of block numbers to query for"
                  },
                  "hydration": {
                    "allOf": [
                      {
                        "type": "object",
                        "required": [
                          "accountHash"
                        ],
                        "properties": {
                          "accountHash": {
                            "type": "boolean",
                            "description": "(true/false) to include hydration of account info in the response"
                          }
                        }
                      }
                    ],
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "blockNumber",
                      "data"
                    ],
                    "properties": {
                      "blockNumber": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The block number retrieved",
                        "minimum": 0
                      },
                      "data": {
                        "type": "object",
                        "required": [
                          "epoch",
                          "previousHash",
                          "producer",
                          "hash",
                          "parentNumber",
                          "number",
                          "dataSize",
                          "numberOfTransactions",
                          "successfulTransactions",
                          "voteTransactions",
                          "totalTxFees",
                          "numberOfRewards",
                          "totalRewardAmount",
                          "totalComputeUnitsConsumed",
                          "totalComputeUnitsLimit",
                          "blockTime"
                        ],
                        "properties": {
                          "blockTime": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The time that this block is produced",
                            "minimum": 0
                          },
                          "dataSize": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The data size of this block",
                            "minimum": 0
                          },
                          "epoch": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The epoch that this block belongs to",
                            "minimum": 0
                          },
                          "hash": {
                            "type": "string",
                            "description": "The block hash"
                          },
                          "number": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The block number",
                            "minimum": 0
                          },
                          "numberOfRewards": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of rewards being issued",
                            "minimum": 0
                          },
                          "numberOfTransactions": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of transactions produced in this block",
                            "minimum": 0
                          },
                          "parentNumber": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The parent's block number",
                            "minimum": 0
                          },
                          "previousHash": {
                            "type": "string",
                            "description": "The previous block's block hash"
                          },
                          "producer": {
                            "oneOf": [
                              {
                                "type": "object",
                                "required": [
                                  "String"
                                ],
                                "properties": {
                                  "String": {
                                    "type": "string",
                                    "description": "The block producer account hash"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "required": [
                                  "Account"
                                ],
                                "properties": {
                                  "Account": {
                                    "type": "object",
                                    "required": [
                                      "accountHash"
                                    ],
                                    "properties": {
                                      "accountHash": {
                                        "type": "string",
                                        "description": "The pubkey of the account returned"
                                      },
                                      "data": {
                                        "allOf": [
                                          {
                                            "type": "object",
                                            "required": [
                                              "friendlyName",
                                              "abbreviation",
                                              "category",
                                              "network",
                                              "tags"
                                            ],
                                            "properties": {
                                              "abbreviation": {
                                                "type": "string",
                                                "description": "Account abbreviation (e.g. USDC)"
                                              },
                                              "category": {
                                                "type": "string",
                                                "description": "Category of the Account (e.g. Tokens)"
                                              },
                                              "flag": {
                                                "type": "string",
                                                "description": "SolanaFM flagged accounts (e.g. scammer, hacker)",
                                                "nullable": true
                                              },
                                              "friendlyName": {
                                                "type": "string",
                                                "description": "SolanaFM labelled name / on-chain indexed name (e.g. USD Coin)"
                                              },
                                              "logoURI": {
                                                "type": "string",
                                                "description": "Image url for the account",
                                                "nullable": true
                                              },
                                              "network": {
                                                "type": "string",
                                                "description": "(e.g. mainnet/devnet)"
                                              },
                                              "tags": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                },
                                                "description": "SolanaFM labelled tags"
                                              },
                                              "voteKey": {
                                                "type": "string",
                                                "description": "Vote key only exists for validator accounts",
                                                "nullable": true
                                              }
                                            }
                                          }
                                        ],
                                        "nullable": true
                                      },
                                      "onchain": {
                                        "allOf": [
                                          {
                                            "type": "object",
                                            "required": [
                                              "lamports",
                                              "data",
                                              "owner",
                                              "executable",
                                              "rentEpoch"
                                            ],
                                            "properties": {
                                              "data": {
                                                "oneOf": [
                                                  {
                                                    "type": "string",
                                                    "format": "binary"
                                                  },
                                                  {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  {
                                                    "type": "object",
                                                    "required": [
                                                      "info",
                                                      "account_type"
                                                    ],
                                                    "properties": {
                                                      "account_type": {
                                                        "type": "string"
                                                      },
                                                      "info": {}
                                                    }
                                                  }
                                                ]
                                              },
                                              "executable": {
                                                "type": "boolean",
                                                "description": "Indicates whether the account is an executable account or not"
                                              },
                                              "lamports": {
                                                "type": "integer",
                                                "format": "int64",
                                                "description": "Amount of lamports in the account",
                                                "minimum": 0
                                              },
                                              "owner": {
                                                "type": "string",
                                                "description": "Owner of the account"
                                              },
                                              "rentEpoch": {
                                                "type": "integer",
                                                "format": "int64",
                                                "description": "Rent epoch of the account",
                                                "minimum": 0
                                              }
                                            }
                                          }
                                        ],
                                        "nullable": true
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          },
                          "successfulTransactions": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of successful transactions in this block",
                            "minimum": 0
                          },
                          "totalComputeUnitsConsumed": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The total compute units consumed producing this block",
                            "minimum": 0
                          },
                          "totalComputeUnitsLimit": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The total compute limits indicated for this block",
                            "minimum": 0
                          },
                          "totalRewardAmount": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The total reward amount",
                            "minimum": 0
                          },
                          "totalTxFees": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The total transaction fees collected in the block",
                            "minimum": 0
                          },
                          "voteTransactions": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of vote transactions in this blocl",
                            "minimum": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v0/blocks/{block_number}": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get A Specific Block",
        "description": "Get A Specific Block\n<h3>This endpoints returns you the information of the block given the block number</h3>",
        "operationId": "get_block",
        "parameters": [
          {
            "name": "block_number",
            "in": "path",
            "description": "The block number to query for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "example": 200000000
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "blockNumber",
                    "data"
                  ],
                  "properties": {
                    "blockNumber": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The block number retrieved",
                      "minimum": 0
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "epoch",
                        "previousHash",
                        "producer",
                        "hash",
                        "parentNumber",
                        "number",
                        "dataSize",
                        "numberOfTransactions",
                        "successfulTransactions",
                        "voteTransactions",
                        "totalTxFees",
                        "numberOfRewards",
                        "totalRewardAmount",
                        "totalComputeUnitsConsumed",
                        "totalComputeUnitsLimit",
                        "blockTime"
                      ],
                      "properties": {
                        "blockTime": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The time that this block is produced",
                          "minimum": 0
                        },
                        "dataSize": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The data size of this block",
                          "minimum": 0
                        },
                        "epoch": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The epoch that this block belongs to",
                          "minimum": 0
                        },
                        "hash": {
                          "type": "string",
                          "description": "The block hash"
                        },
                        "number": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The block number",
                          "minimum": 0
                        },
                        "numberOfRewards": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of rewards being issued",
                          "minimum": 0
                        },
                        "numberOfTransactions": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of transactions produced in this block",
                          "minimum": 0
                        },
                        "parentNumber": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The parent's block number",
                          "minimum": 0
                        },
                        "previousHash": {
                          "type": "string",
                          "description": "The previous block's block hash"
                        },
                        "producer": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": [
                                "String"
                              ],
                              "properties": {
                                "String": {
                                  "type": "string",
                                  "description": "The block producer account hash"
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "Account"
                              ],
                              "properties": {
                                "Account": {
                                  "type": "object",
                                  "required": [
                                    "accountHash"
                                  ],
                                  "properties": {
                                    "accountHash": {
                                      "type": "string",
                                      "description": "The pubkey of the account returned"
                                    },
                                    "data": {
                                      "allOf": [
                                        {
                                          "type": "object",
                                          "required": [
                                            "friendlyName",
                                            "abbreviation",
                                            "category",
                                            "network",
                                            "tags"
                                          ],
                                          "properties": {
                                            "abbreviation": {
                                              "type": "string",
                                              "description": "Account abbreviation (e.g. USDC)"
                                            },
                                            "category": {
                                              "type": "string",
                                              "description": "Category of the Account (e.g. Tokens)"
                                            },
                                            "flag": {
                                              "type": "string",
                                              "description": "SolanaFM flagged accounts (e.g. scammer, hacker)",
                                              "nullable": true
                                            },
                                            "friendlyName": {
                                              "type": "string",
                                              "description": "SolanaFM labelled name / on-chain indexed name (e.g. USD Coin)"
                                            },
                                            "logoURI": {
                                              "type": "string",
                                              "description": "Image url for the account",
                                              "nullable": true
                                            },
                                            "network": {
                                              "type": "string",
                                              "description": "(e.g. mainnet/devnet)"
                                            },
                                            "tags": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              },
                                              "description": "SolanaFM labelled tags"
                                            },
                                            "voteKey": {
                                              "type": "string",
                                              "description": "Vote key only exists for validator accounts",
                                              "nullable": true
                                            }
                                          }
                                        }
                                      ],
                                      "nullable": true
                                    },
                                    "onchain": {
                                      "allOf": [
                                        {
                                          "type": "object",
                                          "required": [
                                            "lamports",
                                            "data",
                                            "owner",
                                            "executable",
                                            "rentEpoch"
                                          ],
                                          "properties": {
                                            "data": {
                                              "oneOf": [
                                                {
                                                  "type": "string",
                                                  "format": "binary"
                                                },
                                                {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "string"
                                                  }
                                                },
                                                {
                                                  "type": "object",
                                                  "required": [
                                                    "info",
                                                    "account_type"
                                                  ],
                                                  "properties": {
                                                    "account_type": {
                                                      "type": "string"
                                                    },
                                                    "info": {}
                                                  }
                                                }
                                              ]
                                            },
                                            "executable": {
                                              "type": "boolean",
                                              "description": "Indicates whether the account is an executable account or not"
                                            },
                                            "lamports": {
                                              "type": "integer",
                                              "format": "int64",
                                              "description": "Amount of lamports in the account",
                                              "minimum": 0
                                            },
                                            "owner": {
                                              "type": "string",
                                              "description": "Owner of the account"
                                            },
                                            "rentEpoch": {
                                              "type": "integer",
                                              "format": "int64",
                                              "description": "Rent epoch of the account",
                                              "minimum": 0
                                            }
                                          }
                                        }
                                      ],
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            }
                          ]
                        },
                        "successfulTransactions": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of successful transactions in this block",
                          "minimum": 0
                        },
                        "totalComputeUnitsConsumed": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The total compute units consumed producing this block",
                          "minimum": 0
                        },
                        "totalComputeUnitsLimit": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The total compute limits indicated for this block",
                          "minimum": 0
                        },
                        "totalRewardAmount": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The total reward amount",
                          "minimum": 0
                        },
                        "totalTxFees": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The total transaction fees collected in the block",
                          "minimum": 0
                        },
                        "voteTransactions": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of vote transactions in this blocl",
                          "minimum": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Block Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v0/domains/bonfida": {
      "post": {
        "tags": [
          "Bonfida Domains"
        ],
        "summary": "Accounts' Domains",
        "description": "Accounts' Domains\n<h3>This endpoint retrieves all domains and subdomains owned by the provided account hash</h3>",
        "operationId": "get_multiple_domains_and_subdomains_by_hash",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountHashes"
                ],
                "properties": {
                  "accountHashes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved domains and subdomains by multiple accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "required": [
                      "owner",
                      "domains"
                    ],
                    "properties": {
                      "domains": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "name",
                            "nameServiceAccount",
                            "subdomains"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the domain"
                            },
                            "nameServiceAccount": {
                              "type": "string",
                              "description": "The name service account hash of the domain"
                            },
                            "subdomains": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "name",
                                  "subdomainHash"
                                ],
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the subdomain"
                                  },
                                  "subdomainHash": {
                                    "type": "string",
                                    "description": "The subdomain account hash"
                                  }
                                }
                              },
                              "description": "A list of subdomains that belongs to this current domain"
                            }
                          }
                        },
                        "description": "A list of Bonfida Domain Objects"
                      },
                      "owner": {
                        "type": "string",
                        "description": "The owner hash of the domain/subdomain account"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v0/domains/bonfida/favourites": {
      "post": {
        "tags": [
          "Bonfida Domains"
        ],
        "summary": "Account Favourite Domain",
        "description": "Account Favourite Domain\n<h3>This endpoint returns you the favourited domain of the account hash provided</h3>",
        "operationId": "get_favourite_domains_by_multiple_accounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountHashes",
                  "fidaType"
                ],
                "properties": {
                  "accountHashes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The list of domain owner account hashes to query for"
                  },
                  "fidaType": {
                    "type": "string",
                    "description": "Fida type to filter the results\nOptions are either `OWNER` or `NAME_SERVICE`"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved favourite domains by multiple accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "owner",
                      "name",
                      "nameServiceAccount"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the domain"
                      },
                      "nameServiceAccount": {
                        "type": "string",
                        "description": "The name service account hash of the domain"
                      },
                      "owner": {
                        "type": "string",
                        "description": "The domain owner's account hash"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v0/domains/bonfida/favourites/{hash}": {
      "get": {
        "tags": [
          "Bonfida Domains"
        ],
        "summary": "Get User's Favourite Domains",
        "description": "Get User's Favourite Domains\n<h3>This endpoint returns you a list of domains that are set as favourite by the account hash provided</h3>",
        "operationId": "get_favourite_domains_by_account",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "The wallet hash that owns the domain",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AK2VbkdYLHSiJKS6AGUfNZYNaejABkV6VYDX1Vrgxfo"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved favourite domains by account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "domains"
                  ],
                  "properties": {
                    "domains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "nameServiceAccount",
                          "owner",
                          "favourite"
                        ],
                        "properties": {
                          "favourite": {
                            "type": "boolean",
                            "description": "Indicates whether the domain is set as favourite"
                          },
                          "name": {
                            "type": "string",
                            "description": "The domain name"
                          },
                          "nameServiceAccount": {
                            "type": "string",
                            "description": "The account hash of the domain"
                          },
                          "owner": {
                            "type": "string",
                            "description": "The owner's hash of the domain"
                          }
                        }
                      },
                      "description": "A list of favoutire domains"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v0/domains/bonfida/subdomains": {
      "post": {
        "tags": [
          "Bonfida Domains"
        ],
        "summary": "Subdomains Of Multiple Accounts",
        "description": "Subdomains Of Multiple Accounts\n<h3>This endpoint returns you a list of subdomains owned based on the account hashes that you input</h3>",
        "operationId": "get_subdomains_by_multiple_accounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountHashes"
                ],
                "properties": {
                  "accountHashes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The list of domain owner's account hashes"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved subdomains by multiple accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "owner",
                      "subdomains"
                    ],
                    "properties": {
                      "owner": {
                        "type": "string",
                        "description": "The owner's hash of the domain"
                      },
                      "subdomains": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "name",
                            "subdomainHash"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the subdomain"
                            },
                            "subdomainHash": {
                              "type": "string",
                              "description": "The subdomain account hash"
                            }
                          }
                        },
                        "description": "The list of subdomains owned"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This is where we have our API error response struct\nFeel free to design your own API Error response\nFor this example I am referencing Google's JSON API error response\nhttps://cloud.google.com/apis/design/errors",
                  "required": [
                    "code",
                    "message",
                    "status"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "example": "500",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "status": {
                      "type": "string",
                      "example": "500"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v0/domains/bonfida/subdomains/{hash}": {
      "get": {
        "tags": [
          "Bonfida Domains"
        ],
        "summary": "Get An Account's Subdomains",
        "description": "Get An Account's Subdomains\n<h3>This endpoint returns you subdomains that are owned by the given account hash</h3>",
        "operationId": "get_subdomains_by_account",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "The domain owner's account hash",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AK2VbkdYLHSiJKS6AGUfNZYNaejABkV6VYDX1Vrgxfo"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved subdomains by account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "owner",
                    "subdomains"
                  ],
                  "properties": {
                    "owner": {
                      "type": "string",
                      "description": "The owner's hash of the domain"
                    },
                    "subdomains": {
[...]
